# CMake
/build/
/cmake-build-*/
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/Makefile
/compile_commands.json

# Ninja
/.ninja_*
/build.ninja
/.ninja_deps
/.ninja_log

# macOS
.DS_Store

# IDEs
.idea/
/.vscode/
*.code-workspace

# Gradle
.gradle/
/gradle/
/**/build/

# Logs
*.log

# Misc
*.tmp
*.swp
